<a href="https://colab.research.google.com/github/Michelleagl/Series_de_Tiempo/blob/main/Regresi%C3%B3n_lineal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import scipy as sp
import yfinance as yf

In [ ]:
stock = 'META'
ticker = yf.Ticker(stock)
priceM = ticker.history(start= '2013-01-01', end= '2023-12-31', interval='1mo')['Close']

priceM.head()

Date
2013-01-01 00:00:00-05:00    30.887001
2013-02-01 00:00:00-05:00    27.168200
2013-03-01 00:00:00-05:00    25.503214
2013-04-01 00:00:00-04:00    27.686640
2013-05-01 00:00:00-04:00    24.276905
Name: Close, dtype: float64

In [ ]:
priceM.index = priceM.index.strftime('%Y-%m-%d')
priceM.index = pd.to_datetime(priceM.index)

priceM

Date
2013-01-01     30.887001
2013-02-01     27.168200
2013-03-01     25.503214
2013-04-01     27.686640
2013-05-01     24.276905
                 ...
2023-08-01    295.001801
2023-09-01    299.308838
2023-10-01    300.365601
2023-11-01    326.167938
2023-12-01    352.897461
Name: Close, Length: 132, dtype: float64

In [ ]:
stock = 'NVDA'
ticker = yf.Ticker(stock)
priceN = ticker.history(start= '2013-01-01', end= '2023-12-31', interval='1mo')['Close']

priceN.head()

Date
2013-01-01 00:00:00-05:00    0.282920
2013-02-01 00:00:00-05:00    0.292150
2013-03-01 00:00:00-05:00    0.297890
2013-04-01 00:00:00-04:00    0.319715
2013-05-01 00:00:00-04:00    0.335968
Name: Close, dtype: float64

In [ ]:
priceN.index = priceN.index.strftime('%Y-%m-%d')
priceN.index = pd.to_datetime(priceM.index)

priceN

Date
2013-01-01     0.282920
2013-02-01     0.292150
2013-03-01     0.297890
2013-04-01     0.319715
2013-05-01     0.335968
                ...
2023-08-01    49.336006
2023-09-01    43.482265
2023-10-01    40.767666
2023-11-01    46.755852
2023-12-01    49.507023
Name: Close, Length: 132, dtype: float64

In [ ]:
data1 = priceM["2015":]
data1

Date
2015-01-01     75.682137
2015-02-01     78.732941
2015-03-01     81.973190
2015-04-01     78.533539
2015-05-01     78.952293
                 ...
2023-08-01    295.001801
2023-09-01    299.308838
2023-10-01    300.365601
2023-11-01    326.167938
2023-12-01    352.897461
Name: Close, Length: 108, dtype: float64

In [ ]:
data2 = priceN["2015":]
data

NameError: name 'data' is not defined

In [ ]:
data = pd.DataFrame(data1.values, columns=['Y'], index=data1.index)
data.head()

                    Y
Date
2015-01-01  75.682137
2015-02-01  78.732941
2015-03-01  81.973190
2015-04-01  78.533539
2015-05-01  78.952293

In [ ]:
data = data.join(priceN)

In [ ]:
getattr(data.index, 'month_name')

<bound method _inherit_from_data.<locals>.method of DatetimeIndex(['2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
               '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01',
               '2015-09-01', '2015-10-01',
               ...
               '2023-03-01', '2023-04-01', '2023-05-01', '2023-06-01',
               '2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', name='Date', length=108, freq=None)>

In [ ]:
data['mes'] = data.index.month_name()
data

                     Y      Close        mes
Date
2015-01-01   75.682137   0.460854    January
2015-02-01   78.732941   0.529502   February
2015-03-01   81.973190   0.504313      March
2015-04-01   78.533539   0.534914      April
2015-05-01   78.952293   0.533228        May
...                ...        ...        ...
2023-08-01  295.001801  49.336006     August
2023-09-01  299.308838  43.482265  September
2023-10-01  300.365601  40.767666    October
2023-11-01  326.167938  46.755852   November
2023-12-01  352.897461  49.507023   December

[108 rows x 3 columns]

In [ ]:
data = pd.get_dummies(data, columns=['mes'], prefix="", prefix_sep="", drop_first=True, dtype=float)
data

,Y,Close,August,December,February,January,July,June,March,May,November,October,September
Date,,,,,,,,,,,,,
2015-01-01,75.682137,0.460854,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-02-01,78.732941,0.529502,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-03-01,81.973190,0.504313,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2015-04-01,78.533539,0.534914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-05-01,78.952293,0.533228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,295.001801,49.336006,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-09-01,299.308838,43.482265,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2023-10-01,300.365601,40.767666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2023-11-01,326.167938,46.755852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2023-12-01,352.897461,49.507023,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
fecha_2018 = pd.Series(data = [1], index=pd.to_datetime(["2018-07-01"]), name='2018_outlier')
fecha_2020 = pd.Series(data = [1], index=pd.to_datetime(["2020-03-01"]), name='2020_outlier')

In [ ]:
data.columns

Index(['Y', 'Close', 'August', 'December', 'February', 'January', 'July',
       'June', 'March', 'May', 'November', 'October', 'September',
       '2018_outlier', 'lag1', 'lag2', 'lag3', 'lag4', 'lag5', 'lag6', 'lag7',
       'lag8', 'lag9', 'lag10', 'lag11', 'lag12'],
      dtype='object')

In [ ]:
data["2018":"2018"]

,Y,Close,August,December,February,January,July,June,March,May,November,October,September
Date,,,,,,,,,,,,,
2018-01-01,186.328979,6.078999,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-02-01,177.784729,5.985018,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-03-01,159.310333,5.731123,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2018-04-01,171.483688,5.565567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-05-01,191.204315,6.240909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2018-06-01,193.736679,5.866154,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2018-07-01,172.061951,6.063262,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-08-01,175.202484,6.950243,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-09-01,163.966324,6.962468,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2018-10-01,151.334335,5.223460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2018-11-01,140.187912,4.049094,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2018-12-01,130.696487,3.310865,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
data = data.join(fecha_2020).fillna(0)

In [ ]:
data["2020":"2020"]

,Y,Close,August,December,February,January,July,June,March,May,November,October,September,2020_outlier
Date,,,,,,,,,,,,,,
2020-01-01,201.303894,5.886479,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-02-01,191.892242,6.724026,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-03-01,166.299286,6.566866,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2020-04-01,204.095505,7.281349,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-05-01,224.414307,8.844342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2020-06-01,226.388382,9.464408,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-07-01,252.908508,10.582314,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-01,292.319855,13.333632,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-09-01,261.113831,13.489157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2020-10-01,262.320160,12.499438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2020-11-01,276.138580,13.364549,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2020-12-01,272.340027,13.019002,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:

data = data.join(fecha_2020).fillna(0)

In [ ]:

data['lag1'] = data['Y'].shift(1)
data['lag2'] = data['Y'].shift(2)
data['lag3'] = data['Y'].shift(3)
data['lag4'] = data['Y'].shift(4)
data['lag5'] = data['Y'].shift(5)
data['lag6'] = data['Y'].shift(6)
data['lag7'] = data['Y'].shift(7)
data['lag8'] = data['Y'].shift(8)
data['lag9'] = data['Y'].shift(9)
data['lag10'] = data['Y'].shift(10)
data['lag11'] = data['Y'].shift(11)
data['lag12'] = data['Y'].shift(12)

In [ ]:
data.head(13)

,Y,Close,August,December,February,January,July,June,March,May,...,lag3,lag4,lag5,lag6,lag7,lag8,lag9,lag10,lag11,lag12
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,0.460854,0.460854,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-01,0.529503,0.529503,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-03-01,0.504313,0.504313,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-01,0.534914,0.534914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.460854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-01,0.533228,0.533228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.529503,0.460854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-01,0.486798,0.486798,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.504313,0.529503,0.460854,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-01,0.482925,0.482925,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.534914,0.504313,0.529503,0.460854,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-01,0.544168,0.544168,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.533228,0.534914,0.504313,0.529503,0.460854,NaN,NaN,NaN,NaN,NaN
2015-09-01,0.599208,0.599208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.486798,0.533228,0.534914,0.504313,0.529503,0.460854,NaN,NaN,NaN,NaN
2015-10-01,0.689636,0.689636,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.482925,0.486798,0.533228,0.534914,0.504313,0.529503,0.460854,NaN,NaN,NaN
2015-11-01,0.771070,0.771070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.544168,0.482925,0.486798,0.533228,0.534914,0.504313,0.529503,0.460854,NaN,NaN
2015-12-01,0.804255,0.804255,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.599208,0.544168,0.482925,0.486798,0.533228,0.534914,0.504313,0.529503,0.460854,NaN
2016-01-01,0.714703,0.714703,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.689636,0.599208,0.544168,0.482925,0.486798,0.533228,0.534914,0.504313,0.529503,0.460854